.extreme {
    font-size : 3em;
    animation-name : colorchange;
    animation-duration : 2s;
    animation-iteration-count: infinite;
}

.navzone {
    text-align : center;
}

.prose {
    margin-left : 20%;
    margin-right : 20%;
}

.content {
    font-family : "Helvetica", "Arial";    
}

body {
    background-color : #FFBB66;
}

li {
    text-align : center;
    list-style : none;
    padding : 0px;
}

h1 { 
    text-align : center;
    font-family : "Roboto", "Arial";
    text-shadow : 2px 2px #900040;
}

h3 {
    color : #BB00BB;
    font-family : "Roboto", "Arial";
    text-align : center;
}

a { 
    color : #600060;
    text-decoration : none;
    border-bottom : 2px solid purple;
}

h2 {
    font-family : "Garamond", "Georgia", "Times New Roman";
    font-size : 3em;
}

p { 
    color : #600040;
}

#tehlulz {
    font-family : "Comic Sans MS", "Comic Sans", "Jokerman", "Sans Serif";
    font-weight : bold;
}

#head1 {
    animation-type : colorchange;
    animation-duration : 1s;
    animation-iteration-count : infinite;
}

@keyframes colorchange {
    0%   {color : red}
    14%  {color : orange}
    28%  {color : yellow}
    42%  {color : green}
    56%  {color : lightsteelblue}
    70%  {color : blue}
    85%  {color : purple}
    100% {color : black}
}