body {
    background-color : #FFBB66;
}

h1 { 
    text-align : center;
    color : #B000C0;
    font-family : "Roboto", "Arial";
    text-shadow : 2px 2px #900040;
}

h3 {
    color : #BB00BB;
    font-family : "Roboto", "Arial";
}

a { 
    color : #600060;
    text-decoration : none;
    border-bottom : 2px solid purple;
}

h2 {
    font-family : "Garamond", "Georgia", "Times New Roman";
    font-size : 3em;
}

p { 
    font-family : "Helvetica", "Arial";
    color : #600040;
}